@use "./variables";

.herosection {
	position: relative;
	top: 0;
	width: 100%;
	display: flex;
	gap: 16px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: linear-gradient(
			to left,
			variables.$dark-light-color,
			variables.$dark-light-color-2
		),
		url("../images/banner.jpg");
	box-sizing: border-box;
	height: 700px;
	background-position: center center;
	background-size: cover;
	padding: 64px 40px;

	&__heading {
		font-size: 40px;
		font-weight: 800;
		text-align: center;
		color: variables.$light-color;
		@include variables.for-medium-screen {
			font-size: 56px;
		}
		@include variables.for-large-screen {
			font-size: 64px;
		}
	}

	&__desc {
		color: rgba(variables.$light-color, 0.7);
		text-align: center;
		font-size: 12px;
		padding: 0px 0px;
		@include variables.for-medium-screen {
			font-size: 12px;
			padding: 0px 84px;
		}
		@include variables.for-large-screen {
			padding: 0px 96px;
			font-size: 16px;
		}
	}

	&__btns {
		display: flex;
		gap: 16px;
		&-1 {
			@include variables.buttonFilled(
				variables.$primary-color,
				32px,
				16px,
				12px,
				variables.$light-color
			);

			@include variables.for-medium-screen {
				@include variables.buttonFilled(
					variables.$primary-color,
					32px,
					16px,
					16px,
					variables.$light-color
				);
			}
		}
		&-2 {
			@include variables.buttonOutlined(
				transparent,
				32px,
				16px,
				12px,
				variables.$light-color,
				variables.$light-color,
				variables.$primary-color
			);
			@include variables.for-medium-screen {
				@include variables.buttonOutlined(
					transparent,
					32px,
					16px,
					16px,
					variables.$light-color,
					variables.$light-color,
					variables.$primary-color
				);
			}
		}
	}
}
