@use "./variables";

.header {
	background: linear-gradient(
			to left,
			variables.$dark-light-color,
			variables.$dark-light-color-2
		),
		url("../images/banner.jpg");
	width: 100%;
	box-sizing: border-box;
	height: 650px;
	background-position: center center;
	background-size: cover;
}
