@use "./variables";

.populardestination {
	width: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: variables.$light-color;
	padding: 56px 40px;
	gap: 12px;

	&__label {
		color: variables.$primary-color;
		font-weight: 500;
	}

	&__heading {
		font-size: 40px;
		text-align: center;
		color: variables.$primary-color;
		font-weight: 700;
	}

	&__desc {
		font-size: 16px;
		color: variables.$dark-light-color;
		text-align: center;
		width: 100%;
		@include variables.for-medium-screen {
			width: 80%;
		}
		@include variables.for-large-screen {
			width: 60%;
		}
	}
}

.card-container {
	display: grid;
	grid-template-columns: 1fr;
	gap: 32px;
	box-sizing: border-box;
	padding: 24px;

	@include variables.for-medium-screen {
		padding: 40px;
		grid-template-columns: 1fr 1fr;
	}
	@include variables.for-large-screen {
		padding: 40px;
		grid-template-columns: 1fr 1fr;
	}
	@include variables.for-extralarge-screen {
		padding: 56px;
		grid-template-columns: 1fr 1fr 1fr;
	}

	.card {
		border-radius: 40px;
		overflow: hidden;
		position: relative;
		height: 400px;
		cursor: pointer;

		@include variables.for-medium-screen {
			height: 500px;
		}
		@include variables.for-large-screen {
			height: 500px;
		}
		@include variables.for-extralarge-screen {
			height: 500px;
		}

		&__image {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
			position: relative;
			transition: transform 0.2s;
			&:hover {
				transform: scale(1.2);
			}
		}

		&:hover .card__details {
			transform: scale(0.9);
		}

		&__details {
			position: absolute;
			bottom: 0;
			transition: transform 0.2s;
			left: 0;
			border-radius: 30px;
			margin: 24px;
			padding: 24px;
			display: flex;
			flex-direction: column;
			gap: 6px;
			background-color: variables.$light-color;
			color: variables.$primary-color;

			&--label {
				font-size: 16px;
			}

			&--star {
				display: flex;

				gap: 2px;
				align-items: center;
			}

			&--heading {
				font-size: 22px;
				color: variables.$primary-dark-color;
				font-weight: 700;
			}

			&--desc {
				color: variables.$dark-light-color;
				font-size: 16px;
			}
		}
	}
}
