@use "./variables";

.verticalnav {
	position: fixed;
	z-index: 50;
	background-color: variables.$primary-color;
	top: 0;
	width: 100%;
	height: 100vh;
	display: flex;
	padding: 48px;
	box-sizing: border-box;
	flex-direction: column;
	gap: 32px;
	@include variables.animation("fade 0.5s");

	@include variables.keyframes(fade) {
		0% {
			opacity: 0;
		}
		10% {
			opacity: 0.1;
		}
		20% {
			opacity: 0.2;
		}
		30% {
			opacity: 0.3;
		}
		40% {
			opacity: 0.4;
		}
		50% {
			opacity: 0.5;
		}
		60% {
			opacity: 0.6;
		}
		70% {
			opacity: 0.7;
		}
		80% {
			opacity: 0.8;
		}
		90% {
			opacity: 0.9;
		}
		100% {
			opacity: 1;
		}
	}

	@include variables.for-large-screen {
		display: none;
	}

	&__header {
		width: 100%;
		box-sizing: border-box;
		display: flex;
		align-items: center;
		justify-content: space-between;

		&--logo {
			width: 40%;
			@include variables.for-medium-screen {
				width: 40%;
				display: flex;
			}
		}

		&--btn {
			display: flex;
			align-items: center;
			justify-content: center;
			@include variables.buttonFilled(
				variables.$light-color,
				16px,
				16px,
				24px,
				variables.$primary-color
			);

			@include variables.for-medium-screen {
				@include variables.buttonFilled(
					variables.$light-color,
					24px,
					16px,
					24px,
					variables.$primary-color
				);
			}
		}
	}

	&__menu {
		width: 100%;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 24px;

		span {
			padding: 12px 32px;
			font-size: 16px;
			border-radius: 50px;
			color: variables.$light-color;
			font-weight: 600;
			transition: all 0.2s ease-in-out;
			&:hover {
				background-color: variables.$light-color;
				color: variables.$primary-color;
				cursor: pointer;
			}

			@include variables.for-medium-screen {
				padding: 16px 32px;
				font-size: 20px;
			}
		}
	}
}
